fastapi
uvicorn[standard]
pydantic>=2.0
numpy<2.1.0
opencv-python-headless
faster-whisper
mediapipe
python-multipart
pillow
torch
torchvision
torchaudio
scenedetect[opencv]
librosa
scikit-learn
scikit-image
cython
madmom
open-clip-torch
transnetv2-pytorch
rembg
pytesseract
ultralytics
onnxruntime
scipy
essentia
colorthief
pydub
torch-audiomentations
julius
mir_eval
imageio
tifffile
pycocotools
